<!DOCTYPE html>
<html>
    <head>
        <title>Photo Album</title>
        <link rel="stylesheet" href="/static/style.css">
        
    </head>
    <body>
        <!-- Add base html here. -->
        <div id="main">
            <nav>
                <a href="/">Home Page</a>
                <div>
                    
                    {% for message in get_flashed_messages() %}
                        <legend>{{message}}</legend>
                    {% endfor %}

                    {% if current_user.is_authenticated %}
                    <a href="/logout">Log Out</a>
                    <a href="/create_album">Create Album</a>
                    <a href="/create_photo">Add a Photo</a>

                    {% else %}

                    <a href="/signup">Sign Up</a>
                    <a href="/login">Login</a>

                    {% endif %}
                </div>
            </nav>

        </div>
        {% block content %}{% endblock %}
    </body>
</html>
