{% extends 'base.html' %}
{% block content %}

<h1>Add Photo</h1>

<form action="{{url_for('main.create_photo')}}" method="POST">
    {{form.csrf_token}}
    <fieldset>
        <legend>
            Photo info below:
        </legend>
        {{form.name.label}}
        {{form.name}}

        {{form.photo_url.label}}
        {{form.photo_url}}

        {{form.album.label}}
        {{form.album}}

        {{form.date.label}}
        {{form.date}}

        {{form.small_description.label}}
        {{form.small_description}}

        {{form.location.label}}
        {{form.location}}

        {{form.submit}}
    </fieldset>
</form>

{% endblock %}